<div class="container">
    <a href="/produto/create" class="btn btn-primary">Criar Produto</a>
    <a href="/recurso" class="btn btn-primary">Voltar</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each produtos}}
            <tr>
                <th>{{this.id}}</th>
                <td>{{this.descricao}}</td>
                <td>{{this.nome}}</td>
                <td>{{this.preco}}</td>
                <td>
                    <a href="/produto/{{this.id}}" class="btn btn-primary">Mostrar</a>
                    <a href="/produto/{{this.id}}/edit" class="btn btn-secondary">Editar</a>
                    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Remover</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>